*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

header{
    padding: 40px;
    width: 100vw;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.mensagem{
    padding-left: 40px;
    width: 90vw;
    height: 120px;
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    justify-content: center;
    gap: 25px;
}

.mensagem h1{
    color: #fff;
    font-family: 'Lucida Sans Unicode';
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

main{
    padding: 40px 80px;
    width: 100vw;
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.holderTarefas{
    padding: 40px 40px;
    width: 45%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: rgba(28, 93, 114, 0.5);
    border-radius: 25px;
    gap: 25px;
}

.holderTarefas h1{
    color: #fff;
    font-family: 'Lucida Sans Unicode';
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.criarTarefas{
    padding: 20px;
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    gap: 25px;
    align-items: center;
    justify-content: space-around;
}

.titulo{
    height: 96px;
    width: max-width;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.titulo h1{
    color: #000;
    font-family: 'Lucida Sans Unicode';
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.inputs{
    display: flex;
    height: 50%;
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.nomeTarefa{
    height: 35%;
    width: 80%;
    outline: none;
    border: none;
    border-radius: 50px;
}

.descricao{
    height: 50%;
    width: 80%;
    outline: none;
    border: none;
    border-radius: 50px;
}