*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

header{
    padding: 2%;
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.mensagem{
    padding: 2%;
    width: 90vw;
    height: 15vh;
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    justify-content: center;
    gap: 25px;
}

.mensagem h1{
    color: #fff;
    font-family: 'Lucida Sans Unicode';
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

main{
    padding: 3% 4%;
    width: 100vw;
    height: 75vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.carrosselTarefas{
    padding: 2%;
    width: 40vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(28, 93, 114, 0.5);
    border-radius: 25px;
    gap: 15px;

}

.carrosselTarefas h1{
    color: #fff;
    font-family: 'Lucida Sans Unicode';
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.holderTarefas{
    height: 45vh;
    width: 35vw;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.tarefas{
    height: 35vh;
    width: 35vw;
    display: flex;
    flex-direction: row;
    flex-flow: row nowrap;
    gap: 10px;
    align-items: center;
}

.itemTarefa{
    height: 30vh;
    width: 35vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.holderInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3%;
    width: 35vw;
    height: 35vh;
    gap: 10px;
}

.holderTarefas::-webkit-scrollbar {
    display: none;
    overflow-y: hidden;
}
.holderTarefas::-webkit-scrollbar:horizontal{
    display: none;
}

.nomeDataTarefa{
    width: 30vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nomeTarefa{
    width: 30vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    color: #fff;
    font-family: 'Lucida Sans Unicode';
    font-size: 150%;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
}

.nomeDataTarefa .dataTarefa{
    width: 15vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'Lucida Sans Unicode';
    font-size: 120%;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
}

.descricaoTarefa{
    width: 25vw;
    height:5vh;
    padding: 5%;
    text-align: justify;
    outline: none;
    border: none;
    border-radius: 50px;
    color: #000;
    font-family: 'Lucida Sans Unicode';
    font-size: 150%;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    background-color: #fff;
}

.criarTarefas{
    padding: 2%;
    width: 40vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    gap: 10px;
}

.titulo{
    height: 10vh;
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.titulo h1{
    color:  rgba(28, 93, 114);
    font-family: 'Lucida Sans Unicode';
    font-size: 260%;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.inputs{
    display: flex;
    height: 60vh;
    width: 35vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.criarTarefas .nomeTarefa{
    padding: 3% 4%;
    height: 10vh;
    width: 30vw;
    outline: none;
    border: none;
    border-radius: 50px;
    color: #000;
    font-family: 'Lucida Sans Unicode';
    font-size: 200%;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    align-items: center;
    justify-content: center;
}

.descricao{
    height: 20vh;
    width: 30vw;
    padding: 4%;
    text-align: justify;
    outline: none;
    border: none;
    border-radius: 50px;
    color: #000;
    font-family: 'Lucida Sans Unicode';
    font-size: 150%;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.criarTarefas .dataTarefa{
    padding: 3%;    
    height: 5vh;
    width: 20vw;
    outline: none;
    border: none;
    border-radius: 50px;
    color: #000;
    font-family: 'Lucida Sans Unicode';
    font-size: 130%;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.criarTarefa{
    height: 15%;
    width: 40%;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:  rgba(28, 93, 114);
    border-radius: 50px;
    color: #fff;
    font-family: 'Lucida Sans Unicode';
    font-size: 130%;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-decoration: none;
}